@font-face {
  font-family: 'Montserrat-BlackItalic';
  src: url('Montserrat-BlackItalic.eot');
  src: url('Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('Montserrat-BlackItalic.ttf') format('truetype'),
       url('Montserrat-BlackItalic.woff') format('woff'),
       url('Montserrat-BlackItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

